<h2>著者：{% do the_author() %}</h2>
{% for post in get_posts() %}
    {% if have_posts() %}
        {{ the_post() }}
        <h3><a href="{{ the_permalink() }}">{{ the_title() }}</a></h3>
        <p>{{ get_the_content()|truncate(20) }}</p>
    {% endif %}
{% endfor %}
